{% import 'macros.html' as macro %}


<div id="user-tab-answers" class="user-tab"> 
    <div class="sorted-title">
        <h4>
            <span class="count">{{ profile_answers|length }}</span>个回答
        </h4>
        <div class="tabs">
            <a {% if sort == 'newest' %}class="youarehere"{% endif %} href="{{ url('users:profile_tab_sort',args=(user_pk,tab,'newest',)) }}#tab-top">
                最新                    
            </a>
            <a {% if sort == 'active' %}class="youarehere"{% endif %} href="{{ url('users:profile_tab_sort',args=(user_pk,tab,'active',)) }}#tab-top">
                活动                    
            </a>
            <a {% if sort == 'votes' %}class="youarehere"{% endif %} href="{{ url('users:profile_tab_sort',args=(user_pk,tab,'votes',)) }}#tab-top">
                票数                    
            </a>
        </div>
    </div>

    <div class="user-tab-content">
        <ul class="list-group">
            {% for answer in item_list %}

                    <a href="{{ url('questions:detail',kwargs={'question_pk':answer.question.pk}) }}#answer-{{ answer.pk }}" class="list-group-item border-none ">&nbsp;{{ answer.question.title }} 
						<span class="badge pull-left" title="此答案获得{{ answer.score }}认可">{{ answer.score }}</span>
							<span title="{{ answer.question.create_time|strftime }}" class="pull-right">{{ answer.question.create_time|naturaltime|only_words }}</span>
								</a>

                
            
            {% endfor %}
		</ul>
	<div class="pull-right">
    {{ macro.paginatior(viewname,page,page_list,pagination_kwargs,anchor) }}
	</div>
    </div>
</div>